<section>
  <div class="container-fluid api-banner-container">
    <div class="col-12">
      <div class="col-12 col-md-auto">
        <img
          class="img-thumbnail api-image"
          src="{{apiMetadata.apiInfo.apiArtifacts.apiImages.api-landing-page-image}}"
          alt="API Image"
        />
      </div>
      <div class="api-title">
        <h4>{{apiMetadata.apiInfo.openApiDefinition.info.title}}</h4>
        <span class="badge api-badge-custom1">{{apiMetadata.apiInfo.apiCategory}}</span>
      </div>
      <p>V {{apiMetadata.apiInfo.openApiDefinition.info.version}}</p>
      <p class="api-desciption">{{apiMetadata.apiInfo.openApiDefinition.info.description}}</p>
      <div class="api-tags">
        {{#apiMetadata.apiInfo.tags}}
        <span class="badge api-badge-custom2">{{this}}</span>
        {{/apiMetadata.apiInfo.tags}}
      </div>
      <div class="api-details-btn ">
        <a type="button" class="common-btn-primary" href="{{baseUrl}}/api/{{apiMetadata.apiInfo.apiName}}/tryout">Try Out</a>
      </div>
    </div>
  </div>
</section>