<section>
<div class="testimonial-container">
    <div class="testimonial-heading">
        <div class="dev-sub-header">
            <h5>WHAT WE HEAR</h5>
        </div>
        <div class="dev-header">
            <h2>Reviews from our valuable customers</h2>
        </div>
    </div>
    <div class="row">
        {{#userProfiles}}
        <div class="col-md-4">
            <div class="card testimonial-card">
                <div class="card-body">
                    <div class="profile-details">
                        <div class="profile-info">
                            <img src={{avatar}} alt="Avatar" class="profile-avatar rounded-circle" />
                            <div>
                                <h5>{{name}}</h5>
                                <p class="text-muted">{{company}}</p>
                            </div>
                        </div>
                        <div>
                            <a href={{profileUrl}} class="linkedin-icon">
                                <img src="/images/linkedIn.svg"
                                    alt="LinkedIn" />
                            </a>
                        </div>
                    </div>
                    <p class="card-text">{{comment}}</p>
                </div>
            </div>
        </div>
        {{/userProfiles}}
    </div>
</div>
</section>